---
import Layout from '../layouts/Layout.astro'
import AgentChat from '../components/agent/Agent.svelte'
---

<Layout title='Agent - Chat Assistant'>
  <div transition:animate='fade'>
    <AgentChat client:load />
  </div>
</Layout>
