---
import Layout from '../layouts/Layout.astro'
import ChromaDBManager from '../components/chromadb/ChromaDBManager.svelte'
---

<Layout title='ChromaDB - Vector Database Management'>
  <main transition:animate='fade'>
    <ChromaDBManager client:load />
  </main>
</Layout>
