---
import Layout from '../layouts/Layout.astro'
import AiChat from '../components/aiChat/aiChat.svelte'
---

<Layout title='AI Tools - Chat Assistant'>
  <div transition:animate='fade'>
    <AiChat client:load />
  </div>
</Layout>
