---
import Layout from '../layouts/Layout.astro'
import LlamaServer from '../components/llamaServer/llamaServer.svelte'
---

<Layout title='AI Tools - Chat Assistant'>
  <div transition:animate='fade'>
    <LlamaServer client:load />
  </div>
</Layout>
