---
import Layout from '../layouts/Layout.astro'
import ModelNotesComponent from '../components/modelNotes/ModelNotes.svelte'
---

<Layout title='AI Tools - Model Notes'>
  <div transition:animate='fade'>
    <ModelNotesComponent client:load />
  </div>
</Layout>
