---
import Layout from '../layouts/Layout.astro'
import ModelNotesC from '../components/modelNotes/modelNotes.svelte'
---

<Layout title='AI Tools - Model Notes'>
  <div transition:animate='fade'>
    {
      (
        //@ts-ignore /who know why ???
        <ModelNotesC client:load />
      )
    }
  </div>
</Layout>
