---
import Layout from '../layouts/Layout.astro'
import StableDiffusion from '../components/stableDiffusion/StableDiffusion.svelte'
---

<Layout title='Stable Diffusion - AI Tools'>
  <div transition:animate='fade'>
    <StableDiffusion client:load />
  </div>
</Layout>
