/target
/src/frontend/dist
/src/backend/target
/src/chromadb/node_modules
/src/chromadb/database
syncDevil.sh
.env
lcov.info
src/frontend/coverage
src/backend/coverage
coverage
Astrox-test.toml
Cargo.lock
src/backend/Cargo.lock
analysis.md
logs

